{# suredone default category template #}
{% include 'html-header.htm' %}
{% include 'header.htm' %}
<div id="collection">
    <div class="title-breadcrumb">
        <div class="container">
            <div class="col-md-12">
                <!-- Collection Listing Title -->
                <div class="collection-listing-title">
                    <h2 class="collection-title">{{ sd_title() }}</h2>
                </div>
                <!-- Begin breadcrumb -->
                <div class="breadcrumb clearfix">
                    {{ sd_content('cat_breadcrumbs') }}
                    {# <span class="arrow-space"><i class="fa fa-angle-right"></i></span> <strong>Page 1 of 1</strong>#}
                </div>
            </div>
        </div>
    </div>
    <!-- Tags loading -->
    <div id="tags-load" style="display:none;"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
    <!-- Begin collection info -->
            <div class="container">
                <div class="col-md-12">
                    <!-- Banner an Desc -->
                    <div class="collection-banner">
                        <div class="collection-panner">
                            {{ sd_content('media_images') }} 
                            {#{{ sd_content('media_images') }}#}
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" id="collection-content">
                  <div class="container" id="sd-content">

                        {% include 'results.htm' %}
                        <!-- ToolBar -->
                 </div>
            </div>
    </div>
        <script type="text/javascript">

            $(document).ready(function() {
                if(location.search.search("sort_by=") == -1){

                }
                else{
                    if(location.search != ""){
                        var stpo = location.search.search("sort_by=")+8, sortby_url = '.'+location.search.substr(stpo).split('='), sortby_url_a = sortby_url+" a";
                        $(sortby_url).addClass("active");
                        $('#sortButton .name').html($(sortby_url_a).html());
                    }
                    else{
                        $('.manual').addClass("active");
                    }
                }
                imagesLoaded( '#sandBox', function() {
                    var $container = $('#sandBox');
                    $container.isotope({
                        itemSelector : '.element',
                        layoutMode : 'fitRows'
                    });
                });
            });
        </script>

</div>
{% include 'footer.htm' %}