
{% if var  == 'home_footer' %}
      </div>
    {% else %}

               </section>
         </div>
    </div>
    {% endif %}
<footer id="footer-wrapper">
    {% set sdfootercustom = sd_option('site_custom_footer') %}
    {% if sdfootercustom %}
    <div class="footer-information">
        <div class="row">
            {{ sd_swaptags('add', sdfootercustom) }}
        </div>
    </div>
    {% else %}
    <!-- Footer Top Block -->
    <div id="footer-top" class="footer-top-block">
        <div class="container">
            <div class="footer-top-block-2 newsletter">
                <div class="footer-nl-text">
                    <div class="newsletter-group">
                        <div class="newsletter-inner">
                            <form action="{{ output.contact_uri }}" method="post" id="footer-sd-emailListForm" name="mc-embedded-subscribe-form" target="_blank" onsubmit="return sdJoinEmailList2(this)">
                                <div class="newsletter-left col-md-5">
                                    <i class="fa fa-envelope-o fa-4x"></i>
                                    <h3 class="newsletter-title">Newsletter</h3>
                                    <div class="newsletter-desc">Subscribe to receive our news everyday!</div>
                                </div>
                                <div class="col-md-7">
                                    <div class="newsletter-right">
                                        <div class="newsletter-input"><input id="footer-sd-emailListInput" class="form-control" type="text" placeholder="Email Address" name="add_email"  onfocus="sdClearValue(this.id)"/></div>
                                        <div class="newsletter-button"><button id="footer-sd-emailListSubmit" class="btn btn-3" type="submit">Subscribe<i class="fa fa-caret-right"></i></button></div>
                                    </div><!--end newsletter-right-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Links -->
    <div id="footer-links" class="footer-links-block">
        <div class="container">
            <div class="footer-links-block01 col-md-3">
                <h3 class="fl-title">About</h3>
                <ul>

                    <li>
                        <a href="#" class=""><span>About Us</span></a>
                    </li>

                    <li>
                        <a href="#" class=""><span>Shopping Guide</span></a>
                    </li>

                    <li>
                        <a href="#" class=""><span>Delivery Information</span></a>
                    </li>

                    <li>
                        <a href="#" class=""><span>Privacy Policy</span></a>
                    </li>

                    <li>
                        <a href="#" class=""><span>Sitemap</span></a>
                    </li>

                </ul>
            </div>
            <div class="footer-links-block02 col-md-3">
                <h3 class="fl-title">My Account</h3>
                <ul>

                    <li>
                        <a href="#" class=""><span>My Account</span></a>
                    </li>

                    <li>
                        <a href="#" class=""><span>Order History</span></a>
                    </li>

                    <li>
                        <a href="#" class=""><span>Wish List</span></a>
                    </li>

                    <li>
                        <a href="#" class=" current"><span>Newsletter</span></a>
                    </li>

                    <li>
                        <a href="#" class=""><span>Contact us</span></a>
                    </li>

                </ul>
            </div>
            <div class="footer-links-block03 col-md-3">
                <h3 class="fl-title">Catalog</h3>
                <ul>

                    <li>
                        <a href="#" class=""><span>New Arrival</span></a>
                    </li>

                    <li>
                        <a href="#" class=""><span>Best Seller</span></a>
                    </li>

                    <li>
                        <a href="#" class=""><span>This week's ourfits</span></a>
                    </li>

                    <li>
                        <a href="#" class=""><span>Sale off</span></a>
                    </li>

                </ul>
            </div>
            <div class="footer-links-recent-post col-md-3">
                <h3 class="fl-title">Recent Post</h3>

                <div class="">
                    <div class="fl-blog-item">
                        <div class="fl-blog-content">
                            <a href="#" class="fl-blog-title clearfix">Ut accu dapibus</a>
                            <span class="date"><i class="fa fa-calendar"></i>08 Jun 03:16</span>
                            <span class="h-line"></span> <span><i class="fa fa-comments"></i>0 comments</span>
                        </div>
                    </div>

                    <div class="fl-blog-item">
                        <div class="fl-blog-content">
                            <a href="#" class="fl-blog-title clearfix">Duis sagittis porta</a>
                            <span class="date"><i class="fa fa-calendar"></i>01 Jun 06:27</span>
                            <span class="h-line"></span> <span><i class="fa fa-comments"></i>0 comments</span>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Footer Bottom -->
    <div id="footer-bottom">
        <div class="container">
            <div class="fb-top">
                <p>&copy; 2015 Jemiz - Shoes Fashion. All rights Reserved</p>
            </div>
            <div class="fb-bottom">

                <div class="">
                    <a href="#" title="Facebook" class="icon-social facebook" data-toggle="tooltip" data-placement="top"><span class="fa-stack fa-lg"><i class="fa fa-stop fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#" title="Twitter" class="icon-social twitter" data-toggle="tooltip" data-placement="top"><span class="fa-stack fa-lg"><i class="fa fa-stop fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#" title="Google+" class="icon-social google" data-toggle="tooltip" data-placement="top"><span class="fa-stack fa-lg"><i class="fa fa-stop fa-stack-2x"></i><i class="fa fa-google-plus fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#" title="Pinterest" class="icon-social pinterest" data-toggle="tooltip" data-placement="top"><span class="fa-stack fa-lg"><i class="fa fa-stop fa-stack-2x"></i><i class="fa fa-pinterest-p fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#" title="Youtube" class="icon-social youtube" data-toggle="tooltip" data-placement="top"><span class="fa-stack fa-lg"><i class="fa fa-stop fa-stack-2x"></i><i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i></span></a>
                    <a href="#" title="Instagram" class="icon-social instagram" data-toggle="tooltip" data-placement="top"><span class="fa-stack fa-lg"><i class="fa fa-stop fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></a>
                </div>

            </div>
        </div>
    </div>
    {% endif %}
</footer>
<div id="scroll-to-top" data-toggle="tooltip" data-placement="top" title="Scroll to Top">
    <i class="fa fa-angle-up"></i>
</div>
        <div class="col-xs-12 col-sm-6">
            <address class="copyright">&copy; {{ gmdate('Y') }} {{ sd_siteinfo('version_logo_powered_link') }}</address>
        </div>
</div>
<!--newletter popup-->
{% if popup %}
<div id="newsletter-popup" class="modal fade" style="display: none;" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="nl-wraper-popup flipInX">
        <div class="nl-wraper-popup-inner">
            <form action="{{ output.contact_uri }}" id="footer-sd-emailListForm" method="post" name="mc-embedded-subscribe-form"  target="_blank" onsubmit="return sdJoinEmailList2(this)">
                <div class=newsletter-popup-content >
                    <h4>Newsletter</h4>
                    <span class="dash-line-newsletter"></span>
                    <p class="tagline">Subscribe to our newsletter to get all news and exclusive offers.</p>
                    <div class="group_input">
                        <input id="footer-sd-emailListInput" class="form-control" type="text" name="add_email" placeholder="Enter your email address" onfocus="sdClearValue(this.id)" />
                        <button id="footer-sd-emailListSubmit" class="btn" type="submit"><i class="fa fa-paper-plane" data-toggle="tooltip" data-placement="top" title="Submit"></i></button>
                    </div>
                </div>
            </form>
            <div id="popup-hide">
                <input type="checkbox" id="mc-popup-hide" value="0" onclick="checkcookie()"> <label for="mc-popup-hide">Don&#39;t show this popup again</label>
            </div>
            <div class="nl-popup-close"><span onclick="jQuery('#newsletter-popup').modal('hide')"  data-toggle="tooltip" data-placement="top" title="Close"><i class="fa fa-times"></i></span></div>
        </div><!--end nl-wraper-popup-inner-->
    </div><!--End wraper-popup-->
</div>
<!--End newletter popup-->
<script type="text/javascript">
    var index = 0;
    index=1;
</script>
{% endif %}
<script type="text/javascript" src="//s3.amazonaws.com/assets.suredone.com/2496/scripts/modernizr.js"></script>
<script type="text/javascript" src="//s3.amazonaws.com/assets.suredone.com/2496/scripts/classie.js"></script>
<script type="text/javascript" src="//s3.amazonaws.com/assets.suredone.com/2496/scripts/jquery.smooth-scroll.min.js"></script>
<script type="text/javascript" src="//s3.amazonaws.com/assets.suredone.com/2496/scripts/waypoints.min.js"></script>
<script type="text/javascript" src="//s3.amazonaws.com/assets.suredone.com/2496/scripts/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="//s3.amazonaws.com/assets.suredone.com/2496/scripts/owl.carousel.min.js"></script>
<script type="text/javascript" src="//s3.amazonaws.com/assets.suredone.com/2496/scripts/jquery.jgrowl.min.js"></script>
<script type="text/javascript" src="//s3.amazonaws.com/assets.suredone.com/2496/scripts/jquery.currencies.min.js"></script>
{#<script type="text/javascript" src="//s3.amazonaws.com/assets.suredone.com/2496/scripts/cs-jemiz.cart.js"></script>#}
<script type="text/javascript" src="//s3.amazonaws.com/assets.suredone.com/2496/scripts/cs-jemiz.script.js"></script>
{#<script type="text/javascript" src="//s3.amazonaws.com/assets.suredone.com/2496/scripts/cs-jemiz.optionSelect.js"></script>
<script  type="text/javascript" src="//s3.amazonaws.com/assets.suredone.com/2496/scripts/cs-jemiz.swatch.js"></script>#}

<div id="quick-shop-modal" class="modal quick-shop" role="dialog" aria-hidden="true" tabindex="-1" data-width="800">
    <div class="modal-dialog fadeIn">
        <div class="modal-content">
            <div class="modal-header">
                <i class="close fa fa-times btooltip" data-toggle="tooltip" data-placement="top" title="Close" data-dismiss="modal" aria-hidden="true"></i>
            </div>
            <div class="modal-body">
                <div class="quick-shop-modal-bg"></div>
                <div class="row">
                    <div class="col-md-6 product-image">
                        <div id="quick-shop-image" class="product-image-wrapper"></div>
                    </div>

                    <div class="col-md-6 product-information">
                        <div id="quick-shop-container">
                            <h3 id="quick-shop-title"></h3>
                            <div class="rating-star">
                            </div>
                            <div class="description">
                                <div id="quick-shop-description" class="text-left"></div>
                            </div>
                            <form action="/cart/add" method="post" class="variants" id="quick-shop-product-actions" enctype="multipart/form-data">
                                <div id="quick-shop-price-container" class="detail-price"></div>
                                <div class="quantity-wrapper clearfix">
                                    <label class="wrapper-title">Quantity</label>
                                    <div class="wrapper">
                    <span class="qty-down" title="Decrease" data-src="#qs-quantity">
                       <i class="fa fa-minus"></i>
                    </span>
                                        <input type="text" id="qs-quantity" size="5" class="item-quantity" name="quantity" value="1" />
                    <span class="qty-up" title="Increase" data-src="#qs-quantity">
                      <i class="fa fa-plus"></i>
                    </span>
                                    </div>
                                </div>
                                <div id="quick-shop-variants-container" class="variants-wrapper"></div>
                                <div class="others-bottom">
                                    <input id="quick-shop-add" class="btn btn-1 small add-to-cart" type="submit" name="add" value="Add to Cart" />
                                </div>
                                <div id="quick-shop-tags"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        var switchImage = function(newImageSrc, newImage, mainImageDomEl) {
            // newImageSrc is the path of the new image in the same size as originalImage is sized.
            // newImage is Shopify's object representation of the new image, with various attributes, such as scr, id, position.
            // mainImageDomEl is the passed domElement, which has not yet been manipulated. Let's manipulate it now.
            jQuery(mainImageDomEl).attr('src', newImageSrc);

            if ($(window).width() > 782) {jQuery(mainImageDomEl).parent().trigger('zoom.destroy').zoom( { url: newImageSrc.replace('_master', '') } );}

        };
        $("a.zoom").fancybox({
            padding:0,
            'titleShow': false,
            overlayColor: '#000000',
            overlayOpacity: 0.2
        });

        /* Update main product image when a thumbnail is clicked. */
        /*==========================*/
        $('#product .thumbs a').on('click', function(e) {
            e.preventDefault();
            switchImage($(this).attr('href'), null, $('.featured img')[0]);
        } );


        /* Initialize zoom on main product image */
        var mainProductImage = $('.featured img');
        if (mainProductImage.size()) {
            if ($(window).width() > 782) {
                var zoomedSrc = $('.featured img').attr('src').replace('_master', '');
                $('.featured img')
                        .wrap('<span style="display:inline-block; max-width: 100%;"></span>')
                        .css('display', 'block')
                        .parent()
                        .zoom( { url: zoomedSrc } );
            }
        }


        $('#cart-info > .heading a').on('click', function() {
            $('#cart-info').addClass('active');
            $('#cart-info').on(' mouseover', function() {
                $(this).removeClass('active');
            });
        });

        $('#quick-shop-modal').on('hidden.bs.modal', function () {
            $('.zoomContainer').css('z-index', '1');
            $('#top').removeClass('z-idx');
        })
        $('#quick-shop-modal').on( 'shown.bs.modal', function () {
            $('#top').addClass('z-idx');
            $('.modal-dialog').addClass("animated");
            imagesLoaded( '#quick-shop-modal', function() {
                updateScrollThumbsQS();
                $("#gallery_main_qs .qs-vertical-slider").bxSlider({
                    mode: 'vertical',
                    slideWidth: 100,
                    minSlides: 4,
                    nextText: '<i class="fa fa-angle-up" title="Previous" data-toggle="tooltip" data-placement="top"></i>',
                    prevText: '<i class="fa fa-angle-down" title="Next" data-toggle="tooltip" data-placement="top"></i>',
                    hideControlOnEnd: true,
                    infiniteLoop: false,
                    pager: false,
                    slideMargin: 0
                });
                var delayLoadingQS = '';
                delayLoadingQS = setInterval(function(){
                    quickShopModalBackground.hide();
                    $('.zoomContainer').css('z-index', '2000');
                    $('#quick-shop-modal .modal-body').resize();
                    clearInterval( delayLoadingQS );
                }, 500);
            });
        });
        var quickShopModal = $('#quick-shop-modal');
        var quickShopContainer = $('#quick-shop-container');
        var quickShopImage = $('#quick-shop-image');
        var quickShopTitle = $('#quick-shop-title');
        var quickShopRating = $('.rating-star');
        var quickShopDescription = $('#quick-shop-description');
        var quickShopVariantsContainer = $('#quick-shop-variants-container');
        var quickShopPriceContainer = $('#quick-shop-price-container');
        var quickShopAddButton = $('#quick-shop-add');
        var quickShopAddToCartButton = $('#quick-shop-add');
        var quickShopTags = $('#quick-shop-tags');
        var quickShopProductActions = $('#quick-shop-product-actions');
        var quickShopModalBackground = $('#quick-shop-modal .quick-shop-modal-bg');

        $('body').on(clickEv, '.quick_shop:not(.unavailable)', function(event){
            var quickShopImage = $('#quick-shop-image');
            var $this = $(this);
            var product_json = $this.find('.product-json').html();
            var selectedProduct = JSON.parse(product_json);
            var selectedProductID = selectedProduct.id;

            // Update add button
            quickShopAddButton.data('product-id', selectedProductID);

            // Update image
            quickShopImage.empty();
            quickShopImage.html('<div id="featuted-image" class="main-image featured"><img class="img-zoom img-responsive image-fly" src="'+ Shopify.resizeImage(selectedProduct.featured_image, "large")+'" data-zoom-image="'+ selectedProduct.featured_image +'" alt="" /></div>');
            quickShopImage.append('<div id="gallery_main_qs" class="product-image-thumb scroll scroll-mini"><div class="qs-vertical-slider"></div></div>');
            quickShopImage.append('<div class="vertical-slider"></div>');
            var qs_images = selectedProduct.images;
            $.each(qs_images, function(index, value) {
                if(index)
                    quickShopImage.find('.qs-vertical-slider').append('<a class="image-thumb" href="'+value+'" alt="" data-image="'+ Shopify.resizeImage(value, 'large') +'" data-zoom-image="'+ Shopify.resizeImage(value, 'original') +'"><img src="'+ Shopify.resizeImage(value, "small") +'" alt="" /></a>');
                else
                    quickShopImage.find('.qs-vertical-slider').append('<a class="image-thumb active" href="'+value+'" alt="" data-image="'+ Shopify.resizeImage(value, 'large') +'" data-zoom-image="'+ Shopify.resizeImage(value, 'original') +'"><img src="'+ Shopify.resizeImage(value, "small") +'" alt="" /></a>');
            });

            /* Initialize zoom on main product image */
            var mainProductImage = $('.featured img');
            if (mainProductImage.size()) {
                if ($(window).width() > 782) {
                    var zoomedSrc = $('.featured img').attr('src').replace('_master', '');
                    $('.featured img')
                            .wrap('<span style="display:inline-block; max-width: 100%;"></span>')
                            .css('display', 'block')
                            .parent()
                            .zoom( { url: zoomedSrc } );
                }
            }


            // Update title
            quickShopTitle.html('<a href="/products/' + selectedProduct.handle + '">' + selectedProduct.title + '</a>');

            // Update Rating Review
            quickShopRating.html('<span class="shopify-product-reviews-badge" data-id="'+ selectedProduct.id +'"></span>');

            // Update description
            quickShopDescription.html(selectedProduct.description.substring(0,140)+"...");

            // Generate variants
            var productVariants = selectedProduct.variants;
            var productVariantsCount = productVariants.length;

            quickShopPriceContainer.html('');
            quickShopVariantsContainer.html('');
            quickShopAddToCartButton.removeAttr('disabled').fadeTo(200,1);

            if (productVariantsCount > 1) {
                // Reveal variants container
                quickShopVariantsContainer.show();

                // Build variants element
                var quickShopVariantElement = $('<select>',{ 'id': ('#quick-shop-variants-' + selectedProductID) , 'name': 'id'});
                var quickShopVariantOptions = '';

                for (var i=0; i < productVariantsCount; i++) {
                    quickShopVariantOptions += '<option value="'+ productVariants[i].id +'">'+ productVariants[i].title +'</option>'
                };

                // Add variants element to page
                quickShopVariantElement.append(quickShopVariantOptions);
                quickShopVariantsContainer.append(quickShopVariantElement);

                // Bind variants to OptionSelect JS
                new Shopify.OptionSelectors(('#quick-shop-variants-' + selectedProductID), { product: selectedProduct, onVariantSelected: selectOptionCallback });

                // Add label if only one product option and it isn't 'Title'.
                if (selectedProduct.options.length == 1 && selectedProduct.options[0] != 'Title' ){
                    $('#quick-shop-product-actions .selector-wrapper:eq(0)').prepend('<label>'+ selectedProduct.options[0] +'</label>');
                }

                // Auto-select first available variant on page load.
                var found_one_in_stock = false;
                for (var i=0; i < selectedProduct.variants.length; i++) {
                    var variant = selectedProduct.variants[i];
                    if(variant.available && found_one_in_stock == false) {
                        found_one_in_stock = true;
                        for (var j=0; j < variant.options.length; j++){
                            $('.single-option-selector:eq('+ j +')').val(variant.options[j]).trigger('change');
                        }
                    }
                }

                // Add tags
                if(selectedProduct.tags != "")
                    quickShopTags.html('Tags: '+ selectedProduct.tags);
                else quickShopTags.html('');

            } else { // If product only has a single variant
                // Hide unnecessary variants container
                quickShopVariantsContainer.hide();

                // Build variants element
                var quickShopVariantElement = $('<select>',{ 'id': ('#quick-shop-variants-' + selectedProductID) , 'name': 'id'});
                var quickShopVariantOptions = '';

                for (var i=0; i < productVariantsCount; i++) {
                    quickShopVariantOptions += '<option value="'+ productVariants[i].id +'">'+ productVariants[i].title +'</option>'
                };

                // Add variants element to page
                quickShopVariantElement.append(quickShopVariantOptions);
                quickShopVariantsContainer.append(quickShopVariantElement);

                // Add tags
                quickShopTags.html('Tags: '+ selectedProduct.tags);

                // Update the add button to include correct variant id
                quickShopAddToCartButton.data('variant-id', productVariants[0].id);

                // Determine if product is on sale
                if ( productVariants[0].compare_at_price > 0 && productVariants[0].compare_at_price > productVariants[0].price ) {
                    quickShopPriceContainer.html('<del class="price_compare">'+ Shopify.formatMoney(productVariants[0].compare_at_price, "${{amount}}") + '</del>' + '<span class="price_sale">'+ Shopify.formatMoney(productVariants[0].price, "${{amount}}") +'</span>');
                } else {
                    quickShopPriceContainer.html('<span class="price">'+ Shopify.formatMoney(productVariants[0].price, "${{amount}}") + '</span>' );
                }
            } // END of (productVariantsCount > 1)


            // Update currency
            currenciesCallbackSpecial('#quick-shop-modal span.money');


        });

        /* selectOptionCallback
         ===================================== */
        var selectOptionCallback = function(variant, selector) {
            // selected a valid and in stock variant
            if (variant && (variant.inventory_quantity > 0 || (variant.inventory_quantity <= 0 && variant.inventory_policy == 'continue') ) ) {
                quickShopAddToCartButton.data('variant-id', variant.id);
                quickShopAddToCartButton.removeAttr('disabled').fadeTo(200,1);
                // determine if variant is on sale
                if ( variant.compare_at_price > 0 && variant.compare_at_price > variant.price ) {
                    quickShopPriceContainer.html('<del class="price_compare">'+ Shopify.formatMoney(variant.compare_at_price, "${{amount}}") + '</del>' + '<span class="price_sale">'+ Shopify.formatMoney(variant.price, "${{amount}}") +'</span>');
                } else {
                    quickShopPriceContainer.html('<span class="price">'+ Shopify.formatMoney(variant.price, "${{amount}}") + '</span>' );
                };
                // selected an invalid or out of stock variant
            } else {
                // variant doesn't exist
                quickShopAddToCartButton.attr('disabled', 'disabled').fadeTo(200,0.5);
                var message = variant ? "Sold Out" : "Unavailable";
                quickShopPriceContainer.html('<span class="unavailable">' + message + '</span>');
            }
            //swatch
            var form = jQuery('.quick-shop form.variants');
            for (var i=0,length=variant.options.length; i<length; i++) {
                var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
                if (radioButton.size()) {
                    radioButton.get(0).checked = true;
                }
            }


            // Update currency
            currenciesCallbackSpecial('#quick-shop-modal span.money');

        }
    });
</script>
<div id="ajax-cart-modal" class="popup-pro-wrapper" style="display: none; position: fixed;  top: 0%; left: 0%; width: 100%; height: 100%; ">
    <div class="ajax-cart-modal-wrapper">
        <div class="ajax-cart-overlay"></div>
        <div class="ajax-cart-loading" style="color:#fff"><i class="fa fa-spinner fa-pulse fa-2x"></i></div>
        <div class="ajax-cart-box" style="display: none;">
            <div class="ajax-cart-left">
                <div class="clearfix">
                    <div class="ajax-cart-note">
                        <span class="cirle"><i class="fa fa-check"></i></span>
                        Product successfully added to<a href="/cart" class="your_cart"> your Shopping Cart</a>
                    </div>
                    <div class="ajax-cart-product">
                        <div class="col-md-6 ajax-cart-image">
                        </div>
                        <div class="col-md-6 ajax-cart-desc">
                            <div class="ajax-cart-product-title"></div>
                            <div class="ajax-cart-price"></div>
                            <div class="ajax-cart-variant"></div>
                            <div class="ajax-cart-qty"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ajax-cart-right">
                <div class="ajax-cart-number-product"></div>
                <div class="ajax-cart-subtotal"></div>
                <div class="ajax-cart-group-actions">
                    <div class="ajax-cart-continue">
                        <a href="javascript:void(null)" onclick="ajaxCartHide()" class="btn btn-3"><i class="fa fa-caret-left"></i>Continue Shopping</a>
                    </div>
                    <div class="ajax-cart-next">
                        <a class="btn btn-3" href="/cart">Proceed to Checkout<i class="fa fa-caret-right"></i></a>
                    </div>
                </div>
                <div class="countDiv"></div>
            </div>
            <div class="ajax-cart-close" onclick="ajaxCartHide()"><i class="fa fa-times"></i></div>
        </div>
    </div>
</div>


<!--Androll-->
<script type="text/javascript">
    adroll_adv_id = "HTF7KIWJRBHHXL46WLUDBC";
    adroll_pix_id = "IE5CHDRTR5ABXH2P6QXAVM";
    (function () {
        var oldonload = window.onload;
        window.onload = function(){
            __adroll_loaded=true;
            var scr = document.createElement("script");
            var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
            scr.setAttribute('async', 'true');
            scr.type = "text/javascript";
            scr.src = host + "/j/roundtrip.js";
            ((document.getElementsByTagName('head') || [null])[0] ||
            document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
            if(oldonload){oldonload()}};
    }());
</script>

<!-- Google Code -->
<script type="text/javascript">
    function sdJoinEmailList2(form) {
        sdEmail = form.add_email;
        if (isEmpty(sdEmail.value)) {
            sdEmail.value = "ENTER YOUR EMAIL";
            return false
        }
        sdre = /\S+@{1}\w+/;
        if (!sdre.exec(sdEmail.value)) {
            alert("Please enter a valid email address\n\nYou entered: " + sdEmail.value);
            return false
        }
        sdTrim = sdEmail.value;
        sdTrim = sdTrim.replace(/ /g, "");
        sdEmailstr = "add_email=" + sdTrim;
        sdEmail.style.visibility = "hidden";
        sdEmailSubmit = form.subscribe;
        sdEmailSubmit.src = "";
        sdEmailSubmit.alt = "...please wait...";
        sdAjaxCall(sdEmailstr, form.id);
        return false;
    }
</script>
</body>
</html>