{{ data.bfirstname }} {{ data.bminitial }} {{ data.blastname }}

{% if data.bbusiness %}<br />{% endif %}
{{ data.bbusiness }}

{% if data.baddress1 %}<br />{% endif %}
{{ data.baddress1 }}

{% if data.baddress2 %}<br />{% endif %}
{{ data.baddress2 }}

{% if data.baddress3 %}<br />{% endif %}
{{ data.baddress3 }}

{% if (data.bcountry == 'US') or (data.bcountry == 'CA') %}
    <br/>{{ data.bcity }}, {{ data.bstatename }} {{ data.bzip }}
{% else %}
    <br/>{{ data.bzip }} {{ data.bcity }}
	{% if data.bstate %}<br />{% endif %}
	{{ data.bstate }}
{% endif %}

{% if data.bcountryname %}<br />{% endif %}
{{ data.bcountryname }}

{% if data.bphone %}<br />{% endif %}
{{ data.bphone }}

{% if data.bphone2 %}<br />{% endif %}
{{ data.bphone2 }}