{# suredone default terms of service/privacy policy template #}
{% set dateupdated = sd_option('site_legal_last_updated') %}
{% include 'html-header.htm' %}
{% include 'header.htm' %}
<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-right-1">
	<div class="col-main">
		<div id="tos">
		    <h3> {{ sd_title() }}</h3>
		{% if sd_lastupdated(dateupdated) %}
		    <p id="last-updated"><b>Last Updated: {{ sd_datetext(sd_localtime(dateupdated)) }}</b></p>
		{% endif %}
		    {{ sd_content('terms_policy_default') }}
		</div>
	</div>
</div>
{% include 'footer.htm' %}