{# form FeedbackEmail #}
{% set site_url = sd_siteinfo('url', false) %}
{% set site_logo = sd_siteinfo('logo_secure_url', false) %}
{% set request_type = data['type']|capitalize %}
{% spaceless %}
<html>
<head>
	<title>{{ sd_siteinfo('business', false) }} Feedback {{ data['request'] }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
	<a href="{{ site_url }}">
		<img src="{{ site_logo }}" alt="{{ sd_siteinfo('business', false) }}" style="border:0px none;"/>
	</a>
	<br/><br/>
	Feedback has been submitted with the following details:<br/>
	{% if (data['bfirstname'])  %}
	Name: {{ data['bfirstname'] }}<br/>
	{% endif %}
	{% if (data['email'])  %}
	Email: {{ data['email'] }}<br/>
	{% endif %}
	{% if (data['order'])  %}
	Order: {{ data['order'] }}<br/>
	{% endif %}
	{% if (data['items'])  %}
	Items: {{ data['items'] }}<br/>
	{% endif %}
	Message: {{ data['message'] }}<br/><br/>
	Ticket# {{ data['request'] }}<br/><br/>
	{{ sd_option('email_signature') }}
</body>
</html>
{% endspaceless %}