{# form InvoiceEmail #}
{% set site_url = sd_siteinfo('url', false) %}
{% set site_logo = sd_siteinfo('logo_secure_url', false) %}
{% set login_url = sd_seturl(sd_option('site_uri_accounts'), 'service', 'absolute', true) ~ '?do=invoice&order=' ~ data['channel'] ~ data['ordernumber'] %}
{% set shipopts = sd_option('shipping_package_method') ? json_decode(sd_option('shipping_package_method'), true) : [] %}
{% apply spaceless %}
<html>
<head>
    <title>{{ sd_siteinfo('business', false) }} Order# {{ data['ordernumber'] }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
    <a href="{{ site_url }}">
        <img src="{{ site_logo }}" alt="{{ sd_siteinfo('business', false) }}" style="border:0px none;"/>
    </a>
    <br/><br/>

    INVOICE<br/>Order# {{ data['ordernumber'] }}<br/><br/>
    <table rules="all" width="500" id="sd-orderEmailInfo">
        <col width="250"/>
        <col width="250"/>
        {% include 'form-cartbillshipto.htm' with {'data': data} %}
        {% if (data['comments']) %}
        <tr>
            <td align="center" colspan="2">ORDER COMMENTS:</td>
        </tr>
        <tr>
            <td align="center" colspan="2">{{ data['comments'] }}</td>
        </tr>
        {% endif %}
    </table>
    <table rules="all" width="500" id="sd-orderEmailTotals">
        <col width="400"/>
        <col width="100"/>
        <tr>
            <td colspan="2" align="center">ORDER TOTALS</td>
        </tr>
        <tr>
            <td align="right">ITEM TOTAL</td>
            <td align="left">{{ sd_currency(false) ~ data['itemtotal']|number_format(2) }}</td>
        </tr>

        {% if (data['shippingtotal'] > 0) %}
        {% set cartshiptotal = shipopts['combine_handling'] == 'on' ? data['shippingtotal'] + data['handlingtotal'] : data['shippingtotal'] %}
        <tr>
            <td align="right">SHIPPING TOTAL</td>
            <td align="left">{{ sd_currency(false) ~ cartshiptotal|number_format(2) }}</td>
        </tr>
        {% endif %}

        {% if (data['handlingtotal'] > 0 and shipopts['combine_handling'] != 'on') %}
        <tr>
            <td align="right">HANDLING TOTAL</td>
            <td align="left">{{ sd_currency(false) ~ data['handlingtotal']|number_format(2) }}</td>
        </tr>
        {% endif %}
        {% if (data['taxtotal'] > 0) %}
        <tr>
            <td align="right">TAX TOTAL</td>
            <td align="left">{{ sd_currency(false) ~ data['taxtotal']|number_format(2) }}</td>
        </tr>
        {% endif %}
        {% if (data['discounttotal'] > 0) %}
        <tr>
            <td align="right">ORDER DISCOUNT</td>
            <td align="left" style="color:#F00;">-{{ sd_currency(false) ~ data['discounttotal']|number_format(2) }}</td>
        </tr>
        {% endif %}
        <tr>
            <td align="right">ORDER TOTAL</td>
            <td align="left">{{ sd_currency(false) ~ data['total']|number_format(2) }}</td>
        </tr>
    </table>

    {# form cart items in email #}
    {% if (data['items']|length > 0)  %}
    <table rules="all" width="500" id="sd-orderEmailItems">
        <col width="100"/>
        <col width="275"/>
        <col width="25"/>
        <col width="100"/>
        <tr>
            <td colspan="4" align="left">ITEMS ORDERED:</td>
        </tr>
        <tr>
            <td colspan="2">ITEM</td>
            <td>QTY</td>
            <td>PRICE PAID</td>
        </tr>

        {% for orderitem in data['items'] %}
        <tr>
            <td>
                {% if is_image(orderitem['media']) %}
                <img alt="{{ cart[i]['title']|escape('html') }}" class="sd-cartImage" src="{{ sd_securemedia(orderitem['media']) }}" />
                {% endif %}
            </td>
            <td>
                {{ orderitem['title'] }}
                <br/>
                {{ orderitem['sku'] }}
            </td>
            <td align="center">{{ orderitem['quantity'] }}</td>
            <td align="center">{{ sd_currency(false) ~ ((orderitem['quantity'] * orderitem['price'])|number_format(2)) }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {# end form cart items #}

    <br/><br/>
    Thank you for your order!
    <br/>Your ship tracking number will be emailed to you after your shipment has been processed.

    {% if (data['admin_invoice']) %}
    <br/><br/>
    <a href="{{ sd_seturl('orders', 'admin', '', true) }}?do=invoice&oid={{ data['oid'] }}">SEE INVOICE</a>
    {% elseif (sd_is_logged_in) %}
    <br/><br/>
    Once your shipment has been processed you may log in <a href="{{ login_url }}">here</a> to track your shipment.
    {% endif %}

    <br/><br/>
    {{ sd_option('email_signature') }}
</body>
</html>
{% endapply %}
