{# form ShipTrackingEmail #}
{% set carriers = ['FEDEX', 'UPS', 'USPS', 'DHL'] %}
{% set site_sets = sd_option('site_live') ? json_decode(sd_option('site_live'), true) : [] %}
{% set site_url = (sd_option('site_user') and site_sets['site'] == 'on' and site_sets['live'] == 'on') ? sd_siteinfo('url', false) : '' %}
{% set site_logo = sd_siteinfo('logo_secure_url', false) %}
{% set trackcodes = ['NOTRACKING', 'REFUNDED', 'CANCELED', 'PICKUP', 'PENDING', 'ORDERED', 'SHIPPED', 'DROPSHIPPED','INCOMPLETE', 'REJECTED'] %}
{% set statuskw = ((data['status']|upper) in trackcodes) ? 'Status:' : 'Tracking#' %}
{% apply spaceless %}
<html>
<head>
    <title>{{ sd_siteinfo('business', false) }} Ship Tracking</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
{% if site_url %}
    <a href="{{ site_url }}">
        <img src="{{ site_logo }}" alt="{{ sd_siteinfo('business', false) }}" style="border:0px none;" />
    </a>
{% else %}
    <img src="{{ site_logo }}" alt="{{ sd_siteinfo('business', false) }}" style="border:0px none;" />
{% endif %}
<br/><br/>
Order# {{ data['order'] }}<br/><br/>
{{ statuskw }}
{% if data['shipments'] %}

    {% set shipping_tracking_codes = ['FEDEX', 'UPS', 'USPS'] %}

    {% for key, row in data['shipments'] %}

        {% set carrier = row['shipcarrier']|upper %}

        {% if row['shiptracking']|upper in trackcodes %}
            {{ row['shiptracking'] }}
        {% elseif row['shiptracking'] %}

            {% if carrier == 'FEDEX' %}
                <span>
                    <a href="https://www.fedex.com/fedextrack/?tracknumbers={{ row['shiptracking'] }}" target="_blank">{{ row['shiptracking'] }}</a>
                </span><br />
            {% elseif carrier == 'UPS' %}
                <span>
                    <a href="https://wwwapps.ups.com/WebTracking/processInputRequest?track.x=0&track.y=0&InquiryNumber1={{ row['shiptracking'] }}" target="_blank">{{ row['shiptracking'] }}</a>
                </span><br />
            {% elseif carrier == 'USPS' %}
                <span>
                    <a href="https://tools.usps.com/go/TrackConfirmAction?qtc_tLabels1={{ row['shiptracking'] }}" target="_blank">{{ row['shiptracking'] }}</a>
                </span><br />
            {% else %}
                <span>
                    <a href="https://www.google.com/#q={{ row['shiptracking'] }}" target="_blank">{{ row['shiptracking'] }}</a>
                </span><br />
            {% endif %}
        {% endif %}

    {% endfor %}

{% endif %}
<br/>

{% if data['shipservice'] %}
    {% set shipservice = output.shipping_services_labels[data['shipservice']] ? output.shipping_services_labels[data['shipservice']] : data['shipservice'] %}
    Ship Service: {{ shipservice }}<br/><br/>
{% elseif data['shipcarrier']|upper in carriers %}
    Ship Carrier: {{ data['shipcarrier']|upper }}<br/><br/>
{% endif %}

<table rules="none" width="500">
    <col width="500"/>
    <tr>
        <td align="left">SHIP TO:</td>
    </tr>
    <tr>
        <td align="left">
            {% include 'form-shippingaddress.htm' with {'data':data} %}
        </td>
    </tr>
</table>

{% if data['shiptrackingmessage'] %}
<br/><br/>{{ data['shiptrackingmessage'] }}
{% endif %}
<br/><br/>{{ sd_option('email_signature') }}
</body>
</html>
{% endapply %}
