{% apply spaceless %}

{% if (sd_option('international_shipping_locations'))  %}
	{% set applyscountry = " onchange=\"sdApplyTotals(['shipping'],'sd-s-country');\"" %}
{% endif %}

{% set icons_vform_sstate = (output.icons['vform']['sstate'] == output.icons['required']) ? output.icons['vform']['sstate'] : output.icons['blank'] %}
{% set icons_vform_szip = (output.icons['vform']['szip'] == output.icons['required']) ? output.icons['vform']['szip'] : output.icons['blank'] %}

{% endapply %}
<table rules="none" cellpadding="0" cellspacing="0">
	<col width="185"/>
	<col width="10"/>
	<col width="185"/>
	<tr>
		<td colspan="3">
			<input type="radio" id="sd-ship-form" name="sd_ship_form" value="USCACartShipping" onclick="sdShipForm(this,'USCACartShipping','sd-shippingForm');"/>
			US / Canada Shipping Address<br/>
			<input type="radio" id="sd-ship-form" name="sd_ship_form" value="INTLCartShipping" onclick="sdShipForm(this,'INTLCartShipping','sd-shippingForm');" tabindex="22" checked/>
			International Shipping Address
		</td>
	</tr>
	<tr>
		<td><img class="sd-formIcon" src="{{ output.icons['vform']['sfirstname'] }}" name="sdform-vsfname" alt="Required first name"/>
			First Name
		</td>
		<td>
			<img class="sd-formIcon" src="{{ output.icons['vform']['sminitial'] }}" name="sdform-vsminit" alt=""/>
			MI
		</td>
		<td>
			<img class="sd-formIcon" src="{{ output.icons['vform']['slastname'] }}" name="sdform-vslname" alt="Required last name"/>
			Last Name
		</td>
	</tr>
	<tr>
		<td>
			<input tabindex="23" type="text" size="20" maxlength="70" id="sd-s-firstname" name="sd_s_firstname" value="{{ data['sfirstname'] }}"/>
		</td>
		<td>
			<input tabindex="24" type="text" size="1" maxlength="1" id="sd-s-minitial" name="sd_s_minitial" value="{{ data['sminitial'] }}"/>
		</td>
		<td>
			<input tabindex="25" type="text" size="19" maxlength="70" id="sd-s-lastname" name="sd_s_lastname" value="{{ data['slastname'] }}"/>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<img class="sd-formIcon" src="{{ output.icons['vform']['sbusiness'] }}" name="sdform-vsbname" alt=""/>
			Business Name / Care Of
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<input tabindex="26" type="text" size="45" maxlength="90" id="sd-s-business" name="sd_s_business" value="{{ data['sbusiness'] }}"/>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<img class="sd-formIcon" src="{{ output.icons['vform']['saddress1'] }}" name="sdform-vsstreet1" alt="Required street address"/>
			Street Address
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<input tabindex="27" type="text" size="45" maxlength="90" id="sd-s-address-1" name="sd_s_address_1" value="{{ data['saddress1'] }}"/>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<input tabindex="28" type="text" size="45" maxlength="90" id="sd-s-address-2" name="sd_s_address_2" value="{{ data['saddress2'] }}"/>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<input tabindex="29" type="text" size="45" maxlength="90" id="sd-s-address-3" name="sd_s_address_3" value="{{ data['saddress3'] }}"/>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<img class="sd-formIcon" src="{{ output.icons['vform']['scity'] }}" name="sdform-vscity" alt="Required city"/>
			City
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<input tabindex="30" type="text" size="45" maxlength="80" id="sd-s-city" name="sd_s_city" value="{{ data['scity'] }}"/>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<img class="sd-formIcon" src="{{ icons_vform_sstate }}" name="sdform-vsstate" alt=""/>
			Province / Region / Territory
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<input tabindex="31" type="text" size="45" maxlength="80" id="sd-s-state" name="sd_s_state" value="{{ data['sstate'] }}"/>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<img class="sd-formIcon" src="{{ output.icons['vform']['scountry'] }}" name="sdform-vscountry" alt="Required country"/>
			Country
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<select tabindex="32" id="sd-s-country" name="sd_s_country" {{ applyscountry }}>
				<option value="">Select One</option>
				{% include 'form-countryoptions.htm' with {'data': {'country': data['scountry'], 'countryname': data['scountryname']} } %}
			</select>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<img class="sd-formIcon" src="{{ icons_vform_szip }}" name="sdform-vszip" alt="Required postal code if applicable"/>
			Ship Postal Code
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<input tabindex="33" type="text" size="20" maxlength="20" id="sd-s-zip" name="sd_s_zip" value="{{ data['szip'] }}"/>
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<img class="sd-formIcon" src="{{ output.icons['vform']['sphone'] }}" name="sdform-vsphone" alt="Required phone number"/>
			Shipping Phone
		</td>
	</tr>
	<tr>
		<td colspan="3">
			<input tabindex="34" type="text" size="45" maxlength="25" id="sd-s-phone" name="sd_s_phone" value="{{ data['sphone'] }}"/>
		</td>
	</tr>
</table>
