{% apply spaceless %}
{% set applycountry = [] %}
{% set applystate = [] %}

{% if (sd_option('international_shipping_locations') or output.shipping_services_international|length > 1) %}
    {% set applycountry = applycountry|merge(["'shipping'"]) %}
{% endif %}

{% if (output.shipping_services_domestic|length > 1 or (sd_option('international_shipping_locations') and 'CA' in ['*', sd_option('international_shipping_locations')]) or sd_option('shipping_surcharge_locations')) %}
    {% set applystate = applystate|merge(["'shipping'"]) %}
{% endif %}

{% if (sd_option('site_cart_tax') == 'on' and sd_option('site_cart_tax_by') == 'country') %}
    {% set applycountry = applycountry|merge(["'tax'"]) %}
{% endif %}

{% if (sd_option('site_cart_tax') == 'on' and sd_option('site_cart_tax_by') == 'state') %}
    {% set applystate = applystate|merge(["'tax'"]) %}
{% endif %}

{% if applycountry %}
    {% set applybcountry = "onchange=\"sdApplyTotals(["  ~ (applycountry|join(',')) ~ "],'sd-s-country');\"" %}
{% endif %}

{% if applystate %}
    {% set applybstate = " onchange=\"sdApplyTotals([" ~ (applystate|join(',')) ~ "],'sd-s-state');\"" %}
{% endif %}

{% endapply %}
<input type="hidden" id="sd-ship-form" name="sd_ship_form" value="WWWCartShipping"/>
<div class="table-responsive">
    <div rules="none" class="table clearfix">
        <div>
            <div class="header-contact">
                <label for="sd-s-firstname">First Name <span>*</span></label>
                <img class="sd-formIcon" src="{{ output.icons['vform']['sfirstname'] }}" name="sdform-vsfname" alt="Required first name" />
            </div>
            <div>
                <input placeholder="First Name" type="text" maxlength="70" size="40" id="sd-s-firstname" name="sd_s_firstname" vcard_name="vCard.FirstName" value="{{ data['sfirstname'] }}" required/>
            </div>
        </div>
        <div>
            <div class="header-contact">
                <label for="sd-s-lastname">Last Name <span>*</span></label>
                <img class="sd-formIcon" src="{{ output.icons['vform']['slastname'] }}" name="sdform-vslname" alt="Required last name" />
            </div>
            <div>
                <input placeholder="Last Name" type="text" maxlength="70" size="40" id="sd-s-lastname" name="sd_s_lastname" vcard_name="vCard.LastName" value="{{ data['slastname'] }}" required/>
            </div>
        </div>
        <div>
            <div class="header-contact">
                <label for="sd-s-business">Business</label>
                <img class="sd-formIcon" src="{{ output.icons['vform']['sbusiness'] }}" name="sdform-vsbname" alt="" />
            </div>
            <div>
                <input placeholder="Business" type="text" maxlength="90" size="40" id="sd-s-business" name="sd_s_business" vcard_name="vCard.Company" value="{{ data['sbusiness'] }}" />
            </div>
        </div>
        <div>
            <div class="header-contact">
                <label for="sd-s-address-1">Address <span>*</span></label>
                <img class="sd-formIcon" src="{{ output.icons['vform']['saddress1'] }}" name="sdform-vsstreet1" alt="Required street address" />
            </div>
            <div>
                <input placeholder="Address" type="text" maxlength="90" size="40" id="sd-s-address-1" name="sd_s_address_1" vcard_name="vCard.Home.StreetAddress" value="{{ data['saddress1'] }}" required/>
            </div>
        </div>
        <div>
            <div class="header-contact">
                <label for="sd-s-address-2">Apt/Suite</label>
                <img class="sd-formIcon" src="{{ output.icons['vform']['saddress2'] }}" name="sdform-vsstreet2" alt="Additional address information" />
            </div>
            <div>
                <input placeholder="Apt/Suite" type="text" maxlength="90" size="40" id="sd-s-address-2"  name="sd_s_address_2" vcard_name="vCard.Home.StreetAddress" value="{{ data['saddress2'] }}" />
            </div>
        </div>
        <div>
            <div class="header-contact">
                <label for="sd-s-city">City <span>*</span></label>
                <img class="sd-formIcon" src="{{ output.icons['vform']['scity'] }}" name="sdform-vscity" alt="Required city" />
            </div>
            <div>
                <input placeholder="City" type="text" maxlength="80" size="40" id="sd-s-city" name="sd_s_city" vcard_name="vCard.Home.City" value="{{ data['scity'] }}" required/>
            </div>
        </div>
        <div>
            <div class="header-contact">
                <label for="sd-s-state">State/Prov <span>*</span></label>
                <img class="sd-formIcon" src="{{ output.icons['vform']['sstate'] }}" name="sdform-vsstate" alt="State, province, or territory" />
            </div>
            <div>
            {% if ((data.scountry and data.scountry != 'US' and data.scountry != 'CA') or ((not data.scountry) and sd_option('site_country') != 'US' and sd_option('site_country') != 'CA')) %}
                <input placeholder="" type="text" maxlength="80" size="40" id="sd-s-state" name="sd_s_state" value="{{ data.sstate }}" required/>
            {% else %}
                <select id="sd-s-state" name="sd_s_state" {{ applybstate }}>
                    <option value="">Select One</option>
                    {% include 'form-stateprovoptions.htm' with {'data': {'country': (data.scountry ? data.scountry : sd_option('site_country')), 'state': data.sstate, 'statename': data.sstatename } } %}
                </select>
            {% endif %}
            </div>
        </div>
        <div>
            <div class="header-contact zip-postal">
                <label for="sd-s-zip">ZIP/Postal <span>*</span></label>
                <img class="sd-formIcon" src="{{ output.icons['vform']['szip'] }}" name="sdform-vszip" alt="Required zip or postal code" />
            </div>
            <div>
                <input placeholder="ZIP/Postal" type="text" maxlength="20" size="40" id="sd-s-zip" name="sd_s_zip" vcard_name="vCard.Home.Zipcode" value="{{ data['szip'] }}" required/>
            </div>
        </div>
        <div>
        {% if (sd_option('site_country') == 'US' and sd_option('international_shipping') == 'off') %}
            <div></div>
            <div><input type="hidden" id="sd-s-country" name="sd_s_country" value="US" /></div>
        {% else %}
            <div class="header-contact">
                <label for="sd-s-country">Country <span>*</span></label>
            </div>
            <div>
                <select id="sd-s-country" name="sd_s_country" {{ applybcountry }}>
                    <option value="">Select One</option>
                    {% include 'form-countryoptions.htm' with {'data' : {'country' : data['scountry'], 'countryname': data['scountryname'] } } %}
                </select>
            </div>
        {% endif %}
        </div>
        <div>
            <div class="header-contact">
                <label for="sd-s-phone">Phone <span>*</span></label>
                <img class="sd-formIcon" src="{{ output.icons['vform']['sphone'] }}" name="sdform-vsphone" alt="Required phone number" />
            </div>
            <div>
                <input placeholder="Phone Number" type="text" maxlength="20" size="40" id="sd-s-phone" name="sd_s_phone" vcard_name="vCard.Cellular" value="{{ data['sphone'] }}" required/>
            </div>
        </div>
    </div>
</div>
