{# suredone default search template #}
{% include 'html-header.htm' %}
{% include 'header.htm' %}
<div id="sd-site-body">
    {% include 'sidebar.htm' %}
    <div id="sd-search">
        <h1>{{ sd_title() }}</h1>
        <div id="sd-content">
            {{ sd_content() }}
            {% set searchtype = get_type()=='pages' and get_reqs('name') ? 'newest_blogs' : 'results' %}
            {# sd_content(searchtype) #}
            {% include 'results.htm' with {'results':searchtype=='results'?output.results:output.newest_blogs, 'group':searchtype=='results'?'':'newest_blogs'} %}
        </div>
    </div>
    {% include 'widgets.htm' %}
</div>
{% include 'footer.htm' %}