{# suredone default page index template #}
{% set pageclassname = output.results[1]['name'] ? output.results[1]['name'] : 'empty' %}
{% include 'html-header.htm' %}
{% include 'header.htm' %}
<div id="blog">
    <div class="title-breadcrumb">
        <div class="container">
            <div class="col-md-12">
                <div class="page-listing-title">
                    <h2 class="title">{{ sd_title('page') }}</h2>
                    <!-- Begin breadcrumb -->
                </div>
                <div class="breadcrumb clearfix">
                    {{ sd_content('cat_breadcrumbs') }}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
                {% if pageclassname == 'blog' %}
                    {# sd_content('newest_blogs') #}
                    {% set results = sd_getnewpages('blog') %}
                    {% set group = 'newest_blogs' %}
                {% else %}
                    {# sd_content('page_index') #}
                    {% set group = 'page_index' %}
                {% endif %}
                    <div class="blog-content col-md-9">
                        <div class="articles">
                                {% include 'results.htm' with { 'var':'blog'} %}
                        </div>
                    </div>
                    <div class="col-md-3">
                        {% include 'sidebar.htm' %}
                    </div>


        </div>

{% include 'footer.htm' %}