{# suredone default page template #}
{% set datevalue = sd_date(false) %}
{% include 'html-header.htm' %}
{% include 'header.htm' %}
<div id="sd-site-body" class="page-{{ sd_identifier() }} sd-pages sd-pages-{{ sd_name() }}">
    {#{% if sd_pagefeature() %}
        <p id="sd-page-date"><span class="published" title="{{ sd_date() }}">{{ sd_datetext(datevalue) }}</span></p>
    {% endif %}#}
    <div class="title-breadcrumb">
        <div class="container">
            <div class="col-md-12">
                <!-- Collection Listing Title -->
                <div class="collection-listing-title">
                    <h2 class="collection-title">{{ sd_title() }}</h2>
                </div>
                <!-- Begin breadcrumb -->
                <div class="breadcrumb clearfix">
                    {{ sd_content('cat_breadcrumbs') }}
                    {# <span class="arrow-space"><i class="fa fa-angle-right"></i></span> <strong>Page 1 of 1</strong>#}
                </div>
            </div>
        </div>
    </div>
    <div id="article" class="container">
        <div class="col-md-9 article">
            <div class="article blogs-item article-body clearfix">
            {#<div id="sd-site-body" class="page-{{ sd_identifier() }} sd-pages sd-pages-{{ sd_name() }}">#}
                {% if sd_pagefeature() %}
                    <p id="sd-page-date"><span class="published" title="{{ sd_date() }}"></span></p>
                {% endif %}
                    <div class="blog-group"> {{ sd_content('media_main') }}</div>
                    <div class="blog-item-date" title="{{ sd_date() }}">
                        <ul>
                            <li>
                                <i class="fa fa-calendar"></i>{{ row['date']|date("l, F m, Y g:i:s A") }}</li>
                            <li>
                                <i class="fa fa-comments"></i>
                                0 comments
                            </li>
                            <li>
                                <i class="fa fa-user"></i>
                                by <span>Jin Alkaid</span>
                            </li>
                        </ul>
                    </div>

                    <div class="blog-group">
                        <div class="article-content">
                            <p>{{ sd_content('long_description') }}
                               {# {{ sd_content('content') }}#}
                            </p>
                        </div>
                    </div>
                    <div class="blog-group tg-social">
                    {% if data.name == 'blog' %}
                        <div class="article-social">
                           <h6>Share On: </h6>
                            <div class="social-button-google">
                                {{ sd_content('googleplus_button') }}
                            </div>
                            <div class="social-button-twitter">
                                {{ sd_content('twitter_button') }}
                            </div>
                            <div class="social-button-pinterest">
                                {{ sd_content('pinterest_button') }}
                            </div>
                            <div class="social-button-facebook">
                                {{ sd_content('facebook_button') }}
                            </div>
                        </div>
                    {% endif %}
                    </div>
            </div>       {#<p id="sd-releaseItemsNav">
                            {% if output.prev_url != output.next_url %}
                                <a href="{{ sd_prev_url() }}">{{ sd_option('site_nav_icon_prev')|e }} {{ sd_prev_title() }}</a> | <a href="{{ sd_next_url() }}"> {{ sd_next_title() }} {{ sd_option('site_nav_icon_next')|e }}</a>
                            {% elseif output.prev_url == output.next_url %}
                                <a href="{{ sd_prev_url() }}">{{ sd_option('site_nav_icon_prev')|e }} {{ sd_prev_title() }} {{ sd_option('site_nav_icon_next')|e }}</a>
                            {% endif %}
                            </p>#}

                    <div class="post-action hidden-xs">
                        {% if output.prev_url != output.next_url %}
                        <a class="btn btn-3 btn-prev" href="{{ sd_prev_url() }}"><i class="fa fa-caret-left"></i>Previous</a>
                        <a class="btn btn-3 btn-next" href="{{ sd_next_url() }}">Next<i class="fa fa-caret-right"></i></a>
                        {% elseif output.prev_url == output.next_url %}
                        <a class="btn btn-3 btn-prev" href="{{ sd_prev_url() }}"><i class="fa fa-caret-left"></i>Previous</a>
                        {% endif %}
                    </div>
                    <div id="comments" class="comments">
                        {% set disqususer = sd_option('comments_disqus') %}
                        {% if disqususer %}
                            {#{% if disqususer and sd_pagefeature('comments_disqus') %}#}
                            <div id="disqus_thread"></div>
                            <script type="text/javascript">
                                var disqus_shortname = '{{ disqususer }}';
                                var disqus_identifier = '{{ sd_identifier() }}';
                                var disqus_url = '{{ sd_canonical() }}';
                                (function() {
                                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                                })();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        {% endif %}
                        {% include 'widgets.htm' %}

                        {#</div>#}
                    </div>

            <!-- Begin comments -->
            <!-- End comments -->
        </div>
        <div class="col-md-3">
            {% include 'sidebar.htm' %}
        </div>
    </div>
</div>
{% include 'footer.htm' %}