{# suredone default tag template #}
{% set sdcontent = data.state == 'page' ? 'page_index' : 'results' %}
{% include 'html-header.htm' %}
{% include 'header.htm' %}
{% include 'sidebar.htm' %}
<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-right-1">
	<div class="col-main">
	    <div id="sd-category">
	        <h1>{{ sd_content('title_link') }}</h1>
	        {{ sd_content('media_images') }}
	        <p>
	        {{ sd_content('long_description') }}
	        </p>
	        <div id="sd-content">{{ sd_content(sdcontent) }}</div>
	    </div>
    {% include 'widgets.htm' %}
	</div>
</div>
{% include 'footer.htm' %}