{# suredone default footer #}
            </div>
        </div>
    </div>
</section>
{% if output.doaction not in ['checkout', 'paypal-checkout', 'checkout-customer', 'checkout-payment'] %}
<section>
    <div class="brandlogo-contain">

        <div class="bx-title brand-title"><h2>Brands & Clients</h2></div>
        <ul class="bxslider">
            <li class="item"><a href="#" title=""><img
                            src="https://s3.amazonaws.com/assets.suredone.com/2256/media/01.png" alt="brand"/></a>

            </li>
            <li class="item"><a href="#" title=""><img
                            src="https://s3.amazonaws.com/assets.suredone.com/2256/media/02_2.png" alt="brand"/></a>

            </li>
            <li class="item"><a href="#" title=""><img
                            src="https://s3.amazonaws.com/assets.suredone.com/2256/media/03.png" alt="brand"/></a>

            </li>
            <li class="item"><a href="#" title=""><img
                            src="https://s3.amazonaws.com/assets.suredone.com/2256/media/04.png" alt="brand"/></a>

            </li>
            <li class="item"><a href="#" title=""><img
                            src="https://s3.amazonaws.com/assets.suredone.com/2256/media/05.png" alt="brand"/></a>

            </li>
            <li class="item"><a href="#" title=""><img
                            src="https://s3.amazonaws.com/assets.suredone.com/2256/media/06.png" alt="brand"/></a>

            </li>
        </ul>

        <script type="text/javascript">
            //<![CDATA[
            jQuery(document).ready(function($){
                $('.brandlogo-contain .bxslider').bxSlider(
                        {
                            speed: 600,
                            pause: 3000,
                            minSlides: 1,
                            //infiniteLoop: false,
                            maxSlides: 6,
                            slideWidth: 170,
                            slideMargin: 30,
                            autoHover: true,
                            moveSlides:1,

                            pager:false,
                            controls: true
                        }
                );
            });
            //]]>
        </script>
    </div>
</section>

</main>


<footer>

    {% set sdfootercustom = sd_option('site_custom_footer') %}
    {% if sdfootercustom %}
    <div class="footer-information">
        <div class="row">
        {{ sd_swaptags('add', sdfootercustom) }}
        </div>
    </div>
    {% else %}
    <div class="footer-information">
        <div class="row">
            <div class="f-col f-col1 col-sm-4 col-md-4 col-sms-6 col-smb-12">
                <div class="footer-static-title">
                    <h3>About us</h3>
                </div>
                <div class="footer-static-content">
                    <p>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum.</p>
                    <p class="address">123 Main st.</p>
                    <p class="mobile">+1 23-456-7890</p>
                </div>
            </div>
            <div class="f-col f-col2 col-sm-4 col-md-4 col-sms-6 col-smb-12">
                <div class="footer-static-title">
                    <h3>Lastest Twitter</h3>
                </div>
                <div class="footer-static-content">
                    <a class="twitter-timeline" data-chrome="noborders noheader noscrollbar transparent nofooter" href="https://twitter.com/dnlfine" data-widget-id="581465107332521984">Tweets by @dnlfine</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
            <div class="f-col f-col3 col-sm-4 col-md-4 col-sms-6 col-smb-12">
                <div class="footer-static-title">
                    <h3>Connect with us</h3>
                </div>
                <div class="footer-static-content">
                    <ul class="link-follow ">
                        <li class="first"><a class="facebook fa fa-facebook" href="#"><span>facebook</span></a></li>
                        <li><a class="twitter fa fa-twitter" href="#"><span>twitter</span></a></li>
                        <li><a class="rss fa fa-rss" href="#"><span>rss</span></a></li>
                        <li><a class="google fa fa-google-plus" href="#"><span>google+</span></a></li>
                        <li><a class="skype fa fa-skype" href="#"><span>skype</span></a></li>
                        <li class="last"><a class="linkedin fa fa-linkedin" href="#"><span>linkedin</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-links">
        <div class="row">
            <div class="logo-bottom col-xs-12 col-sm-4">
                <div class="banner-box banner-box1"><img src="https://s3.amazonaws.com/assets.suredone.com/2256/media/logo-bottom.png" alt="" />
                    <div class="mask">
                        <h1 class="flipInX animated"><span>JeKyLer</span></h1>
                        <a class="links" href="#">logo</a></div>
                </div>
            </div>
            <div class="links-footer col-xs-12 col-sm-8">
                <div class="f-col f-col1 col-sm-3 col-md-3 col-sms-6 col-smb-12 box-links">
                    <div class="footer-static-title">
                        <h3>OUR SERVICES</h3>
                    </div>
                    <div class="footer-static-content">
                        <ul>
                            <li class="first"><a href="#">Custom Service</a></li>
                            <li><a href="#">F.A.Q.’s</a></li>
                            <li><a href="#">Ordering Tracking</a></li>
                            <li><a href="#">Contacts</a></li>
                            <li class="last"><a href="#">Popular</a></li>
                        </ul>
                    </div>
                </div>
                <div class="f-col f-col2 col-sm-3 col-md-3 col-sms-6 col-smb-12 box-links">
                    <div class="footer-static-title">
                        <h3>information</h3>
                    </div>
                    <div class="footer-static-content">
                        <ul>
                            <li class="first"><a href="#">About us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Discount</a></li>
                            <li><a href="#">Custom Service</a></li>
                            <li class="last"><a href="#">Terms & Condition</a></li>
                        </ul>
                    </div>
                </div>
                <div class="f-col f-col3 col-sm-3 col-md-3 col-sms-6 col-smb-12 box-links">
                    <div class="footer-static-title">
                        <h3>customer care</h3>
                    </div>
                    <div class="footer-static-content">
                        <ul>
                            <li class="first"><a href="#">Sitemap</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Your Account</a></li>
                            <li><a href="#">Advanced Search</a></li>
                            <li class="last"><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="f-col f-col5 col-sm-3 col-md-3 col-sms-6 col-smb-12 box-links">
                    <div class="footer-static-title">
                        <h3>My Account</h3>
                    </div>
                    <div class="footer-static-content">
                        <ul>
                            <li class="first"><a href="#">About us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Discount</a></li>
                            <li><a href="#">Custom Service</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        <div class="container-inner" style="background:#000;">
            <div class="footer-container">
                {% if sd_is_secure == false and sd_request_uri != output.cart_uri and sd_option('site_adsense') == 'on' and sd_option('site_adsense_google_account') is not empty %}
                    <div id="foot-ads">
                        <script type="text/javascript"><!--
                            google_ad_client = "ca-pub-{{ sd_siteinfo('google_adsense') }}";
                            google_ad_slot = "8146650125";
                            google_ad_width = 728;
                            google_ad_height = 90;
                            //-->
                        </script>
                        <script type="text/javascript" src="https://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
                    </div>
                {% endif %}
                <div class="footer">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <address class="copyright">© {{ gmdate('Y') }} {{ sd_siteinfo('version_logo_powered_link') }}</address>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <ul class="social">
                                {% if sd_option('site_cart_checkout_cards') == 'on' %}
                                <li class="first">
                                    <a class="social1" href="#"><img src="https://s3.amazonaws.com/assets.suredone.com/2256/media/social1.png" alt="" /></a>
                                </li>
                                <li>
                                    <a class="social2" href="#"><img src="https://s3.amazonaws.com/assets.suredone.com/2256/media/social2.png" alt="" /></a>
                                </li>
                                <li>
                                    <a class="social3" href="#"><img src="https://s3.amazonaws.com/assets.suredone.com/2256/media/social3.png" alt="" /></a>
                                </li>
                                <li>
                                    <a class="social4" href="#"><img src="https://s3.amazonaws.com/assets.suredone.com/2256/media/social4.png" alt="" /></a>
                                </li>
                                {% endif %}
                                {% if sd_option('site_cart_card_processor') == 'paypal' or sd_option('site_cart_checkout_paypal') == 'on' %}
                                <li class="last">
                                    <a class="social5" href="#"><img src="https://s3.amazonaws.com/assets.suredone.com/2256/media/social5.png" alt="" /></a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="back-top" class="hidden-xs"><i class="fa fa-chevron-up"></i></div>
</footer>

</div>
</div>
</div>
</div>

{% if sd_option('site_tracking') == 'on' and sd_option('site_tracking_google_account') is not empty %}
<script type="text/javascript">
    (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript';
        ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
    })()
</script>
{% endif %}
<script type="text/javascript">
    //<![CDATA[
    var MEGAMENU_EFFECT = 0;

    //]]>
</script>
<script>
window.onload=function() {
        var currentTallest = 0,
         currentRowStart = 0,
         rowDivs = new Array(),
         $el,
         topPosition = 0;

        $('.item', '.category-products').each(function() {


           $el = $(this);
           topPosition = $el.position().top;
           
           if (currentRowStart != topPosition) {

             for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
               rowDivs[currentDiv].height(currentTallest);
             }

             rowDivs.length = 0; 
             currentRowStart = topPosition;
             currentTallest = $el.height();
             rowDivs.push($el);

           } else {

             rowDivs.push($el);
             currentTallest = (currentTallest < $el.height()) ? ($el.height()) : (currentTallest);

          }
           
           for (currentDiv = 0 ; currentDiv < rowDivs.length ; currentDiv++) {
             rowDivs[currentDiv].height(currentTallest);
           }
           
        });
}
</script>
{% endif %}
</body>
</html>