{# suredone default search template #}
{% include 'html-header.htm' %}
{% include 'header.htm' %}
{% include 'sidebar.htm' %}
<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-right-1">
	<div class="col-main">
		<div id="sd-site-body">
		    <div id="sd-search">
		        <h1>{{ sd_title() }}</h1>
			    <div id="sd-content">
				{#
			        {{ sd_content() }}
				#}
				    <div class="category-products" id="sd-content">
			            {% set searchtype = get_type()=='pages' and get_reqs('name') ? 'newest_blogs' : 'results' %}
			            {% if searchtype == 'results' %}
				            {% include 'results.htm' %}
				        {% else %}
				            {{ sd_content(searchtype) }}
				        {% endif %}
			        </div>
			    </div>
		    </div>
		    {% include 'widgets.htm' %}
		</div>
	</div>
</div>

<style>
    #sd-search #sd-content #search-form { display: none; }
</style>
{% include 'footer.htm' %}
