{# suredone default sidebar template #}
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-left-1">
    <div class="col-left sidebar">
        {% set site_custom_navhead = sd_option('site_custom_navhead') %}
        {% if site_custom_navhead %}
        {{ sd_swaptags('add',site_custom_navhead) }}
        {% endif %}
        <div class="nav-vcontainer hidden-xs hidden-sm">
            <div class="vmegamenu-title"><h2><i class="fa fa-bars"></i>Categories</h2></div>
            <div id="nav_vmegamenu" class="nav_vmegamenu">
                {% set catsMenu = sd_categories() %}

                {% set newCats = [] %}
                {% set newChilds = [] %}
                {% for cat in catsMenu %}
                {% if cat.level < 2 %}
                {% set newCat = {(cat.cid) : (cat.navorder)} %}
                {% set newCats = newCats + newCat %}
                {% else %}
                {% if newChilds[(cat.parenturi)] %}
                {% set temp = newChilds[(cat.parenturi)] %}
                {% set temp = temp + ({(cat.cid) ~ '' : (cat.navorder)})%}
                {% set newChilds = newChilds|merge({(cat.parenturi): temp}) %}
                {% else %}
                {% set newChilds = newChilds + ({(cat.parenturi) : ({(cat.cid) ~ '' : (cat.navorder)})}) %}
                {% endif %}
                {% endif %}
                {% endfor %}
                
                {% for catID, val in newCats|sort %}
                <!--WORKING CATS-->
                <div id="megamenu_catid_{{ catsMenu[catID].cid }}" class="megamenu nav-4">
                    <div class="level-top">
                        <a href="{{ sd_seturl(catsMenu[catID].uri, 'category') }}"><span>{{ catsMenu[catID].navtitle ? catsMenu[catID].navtitle : catsMenu[catID].title }}</span>{% if newChilds[(catsMenu[catID].uri)] %}<i class="fa fa-angle-down"></i>{% endif %}</a>
                    </div>
                    {% if newChilds[(catsMenu[catID].uri)] %}
                    <!--1st level sub-->
                    <div id="dropdown{{ catsMenu[catID].cid }}" class="dropdown">
                        <div class="block1">
                            <div class="column first col1">
                                <div class="itemMenu level1">
                                    <div class="itemSubMenu level1">
                                        {% for catChildID, val in newChilds[(catsMenu[catID].uri)]|sort %}
                                        <div class="itemMenu level2">
                                            <a class="itemMenuName level2" href="{{ sd_seturl(catsMenu[catChildID].uri, 'category') }}"><span>{{ catsMenu[catChildID].navtitle }}</span>{% if newChilds[(catsMenu[catChildID].uri)] %}<i class="fa fa-angle-down"></i>{% endif %}</a>
                                            {% if newChilds[(catsMenu[catChildID].uri)] %}
                                            <!--2nd level sub-->
                                            <div id="dropdown{{ catsMenu[catChildID].cid }}" class="dropdown lvl3">
                                                <div class="block1">
                                                    <div class="column first col1">
                                                        <div class="itemMenu">
                                                            <div class="itemSubMenu">
                                                                {% for catChildChildID, val in newChilds[(catsMenu[catChildID].uri)]|sort %}
                                                                <div class="itemMenu level3">
                                                                    <a class="itemMenuName level3" href="{{ sd_seturl(catsMenu[catChildChildID].uri, 'category') }}"><span>{{ catsMenu[catChildChildID].navtitle ? catsMenu[catChildChildID].navtitle : catsMenu[catChildChildID].title }}</span>{% if newChilds[(catsMenu[catChildChildID].uri)] %}<i class="fa fa-angle-down"></i>{% endif %}</a>
                                                                    {% if newChilds[(catsMenu[catChildChildID].uri)] %}
                                                                    <!--3rd level sub-->
                                                                    <div id="dropdown{{ catsMenu[catChildChildID].cid }}" class="dropdown lvl4">
                                                                        <div class="block1">
                                                                            <div class="column first col1">
                                                                                <div class="itemMenu">
                                                                                    <div class="itemSubMenu">
                                                                                        {% for catChildChildChildID, val in newChilds[(catsMenu[catChildChildID].uri)]|sort %}
                                                                                        <div class="itemMenu level4">
                                                                                            <a class="itemMenuName level4" href="{{ sd_seturl(catsMenu[catChildChildChildID].uri, 'category') }}"><span>{{ catsMenu[catChildChildChildID].navtitle ? catsMenu[catChildChildChildID].navtitle : catsMenu[catChildChildChildID].title }}</span>{% if newChilds[(catsMenu[catChildChildChildID].uri)] %}<i class="fa fa-angle-down"></i>{% endif %}</a>
                                                                                            {% if newChilds[(catsMenu[catChildChildChildID].uri)] %}
                                                                                            <!--4th level sub-->
                                                                                            <div id="dropdown{{ catsMenu[catChildChildChildID].cid }}" class="dropdown lvl5">
                                                                                                <div class="block1">
                                                                                                    <div class="column first col1">
                                                                                                        <div class="itemMenu">
                                                                                                            <div class="itemSubMenu">
                                                                                                                {% for catChildChildChildChildID, val in newChilds[(catsMenu[catChildChildChildID].uri)]|sort %}
                                                                                                                <div class="itemMenu level5">
                                                                                                                    <a class="itemMenuName level5" href="{{ sd_seturl(catsMenu[catChildChildChildChildID].uri, 'category') }}"><span>{{ catsMenu[catChildChildChildChildID].navtitle ? catsMenu[catChildChildChildChildID].navtitle : catsMenu[catChildChildChildChildID].title }}</span>{% if newChilds[(catsMenu[catChildChildChildChildID].uri)] %}<i class="fa fa-angle-down"></i>{% endif %}</a>
                                                                                                                </div>
                                                                                                                {% endfor %}
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            {% endif %}
                                                                                        </div>
                                                                                        {% endfor %}
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {% endif %}
                                                                </div>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="banner-left"><img src="https://s3.amazonaws.com/assets.suredone.com/2294/images/banner-left2.png" alt="" /></div>

        {% set site_custom_navfoot = sd_option('site_custom_navfoot') %}
        {% if site_custom_navfoot %}
        {{ sd_swaptags('add',site_custom_navfoot) }}
        {% endif %}
    </div>
</div>

