{% set sd_form = false %}
{% for  key, order in data %}
    {% if (key != 'all' and key != 'time' and key != 'type') %}
        {% set sd_form = true %}
    {% endif %}
{% endfor %}

{% if sd_form %}
    {{ sd_admin_forms('ShippingProcessAll', data, true, true) }}

    {% set sd_form = false %}
    {% for  key, order in data %}
        {% if (key != 'all' and key != 'time' and key != 'type') %}
            {% if order is iterable %}
                {% set ordinv = sd_form ? order|merge({'printerset': true}) : order %}
            {% else %}
                {% set ordinv = order %}
            {% endif %}
            {% include 'form-orderinvoice.htm' with {'data':ordinv} %}
            {% set sd_form = true %}
        {% endif %}
    {% endfor %}
{% else %}
    {% if (not sd_notice(false)) %}
        {% set output = output|merge({'notice_html': sd_formnotice('No Orders Available', 'error')}) %}
    {% endif %}
    {% include 'form-orderinvoice.htm' %}
{% endif %}
