<form action="{{ output.cart_suri }}" method="post" id="sd-payForm" class="checkbe" name="sd_payForm" onsubmit="return sdValidCheckout();">
    <input type="hidden" name="do" value="process-checkout"/>

    {% if (sd_option('site_cart_checkout_confirm') == 'on') %}
        <input type="hidden" id="sd-confirm" name="confirm" value=""/>
    {% endif %}

    <input type="hidden" name="sd_js" value="jsoff"/>
    <div rules="none" cellpadding="0" cellspacing="0" id="sd-payment-info">
        <div>
            <div id="sd-cartNotice">
            {% if (not data['ccerror'])  %}
                {{ sd_notice(false) }}
            {% endif %}
            </div>
        </div>
        {# logged in form head #}
        {% if (sd_is_logged_in) %}
        <div>
            <div>
                <b class="sd-infoBold">ADDRESS CHANGES WILL NOT UPDATE ACCOUNT DETAILS</b>
            </div>
        </div>
        <div>
            <div>
                <img class="sd-formIcon" src="{{ sd_securemedia(output.icons['blank']) }}" name="sdform-vemail" alt=""/>
                <input type="hidden" name="sd_email" value="{{ data['email'] }}"/>
                <input type="hidden" name="sd_cemail" value="{{ data['cemail'] }}"/>
                <img class="sd-formIcon" src="{{ sd_securemedia(output.icons['blank']) }}" name="sdform-vcemail" alt=""/>
            </div>
        </div>
        <div class="clearfix">
            <div class="sd-payInfo clearfix">
                <strong id="sd-email-acct"><label>Email</label> {{ data['email'] }}</strong>
            </div>
        </div>
        {% endif %}
        {# end logged in form head #}

        <div class="clearfix">
            <div class="sd-payInfo clearfix">
                <b class="sd-infoBold">BILLING ADDRESS</b>
                <img src="{{ sd_securemedia(output.icons['required']) }}" alt="Required"/> = REQUIRED
                <div id="sd-billingForm">
                    {% include 'form-wwwcartbilling.htm' with {'data': data} %}
                </div>
            </div>
        </div>

        {# shipping form #}
        {% if (sd_option('site_shipping') == 'on' and sd_option('shipping_address') == 'on') %}
        <div class="clearfix">
            <div class="sd-payInfo clearfix">
                <b class="sd-infoBold sd-shipAddrLabel">SHIPPING ADDRESS</b>
                <br/>
                <img class="sd-formIcon" src="{{ output.icons['vform']['shiplocation'] }}" name="sdform-vsshiploc" alt="Required ship to location"/>
                <select tabindex="21" id="sd-ship-location" name="sd_ship_location" onchange="sdShipForm(this,'{{ output.buttons['form_cart_shipping'] }}','sd-shippingForm')">
                    <option value="BillingAddress" {{ data['select_billing'] }}>Same As Billing Address</option>
                    <option value="OtherAddress" {{ data['select_other'] }}>Other Address</option>
                </select>

                <div id="sd-shippingForm">
                {% if (data['select_other']) %}
                    {% include 'form-wwwcartshipping.htm' with {'data': data} %}
                {% endif %}
            </div>
        </div>
    </div class="clearfix">
    {% endif %}
    {# shipping form end #}

    {# show email inputs and create account offer #}
    {% if (sd_option('site_accounts') == 'on' and not sd_is_logged_in) %}
    <div class="clearfix">
        <div class="sd-payInfo clearfix">
            <div id="sd-emailForm">
                {% include 'form-cartemail.htm' with {'data': data} %}
            </div>
        </div>
    </div>
    <div class="clearfix">
        <div class="sd-payInfo clearfix">
            <div id="sd-passForm">
                {% include 'form-cartpass.htm' with {'data': data} %}
            </div>
        </div>
    </div>
    {# show only email inputs #}
    {% elseif (sd_option('site_accounts') != 'on') %}
    <div class="clearfix">
        <div class="sd-payInfo clearfix">
            <div id="sd-emailForm">
                {%  include 'form-cartemail.htm' with {'data' : data} %}
            </div>
        </div>
    </div>
    {% endif %}
    {# end email inputs and create account offer #}

    {# credit card country filters #}
    {% set countryfilters = sd_option('site_cart_card_countries') %}
    {% if (data['bcountry'] and sd_option('site_cart_card_filters') == 'on' and (countryfilters))  %}
        {% set cardcountries = countryfilters|split('*') %}
        {% if ((cardcountries[0] == 'ALL' and data['bcountry'] in cardcountries) or (cardcountries[0] != 'ALL' and data['bcountry'] and not incardcountries))  %}
        {% set cardnotice = 'Credit cards not accepted from ' ~ sd_countryname(data['bcountry']) %}
        <div class="clearfix">
            <div class="sd-payInfo clearfix">
                <div id="sd-creditcardForm">
                    <div class="sd-error" id="sd-cardNotice">{{ cardnotice  }}</div>
                    <div>
                        {{ output.buttons['checkout_paypal'] }}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% else %}
    {# credit card form and submit #}
    <div class="clearfix">
        <div class="sd-payInfo clearfix">
            <div id="sd-creditcardForm">
                {% include 'form-cardcheckout.htm' with {'data': data} %}
            </div>
        </div>
    </div>
    <!--
    <div>
        <div id="sd-submitBlock">
            <input alt="Pay Now" class="sd-formButton" tabindex="35" id="sd-formSubmitButton" type="image" src="{{ sd_securemedia(output.icons['pay_now_cards']) }}" value="Pay Now"/>
        </div>
    </div>
    -->
    {% endif %}
    </div>
</form>
