{% if data['type'] == 'support' %}
    {% set s_selected = 'checked' %}
    {% set formtype = 'form-supportform.htm' %}
{% elseif data['type'] == 'returns' %}
    {% set r_selected = 'checked' %}
    {% set formtype = 'form-returnform.htm' %}
{% elseif data['type'] == 'feedback' %}
    {% set f_selected = 'checked' %}
    {% set formtype = 'form-feedbackform.htm' %}
{% else %}
    {% set s_selected = 'checked' %}
    {% set formtype = 'form-supportform.htm' %}
{% endif %}
<div id="sd-support">
    <form action="{{ output.helpform_uri }}" method="post" id="sd-supportForm" onsubmit="return sdServiceForm(this.form);">
        <b id="sd-acctTitle">Customer Service</b>
        <span id="sd-svcNotice">
            {% if (output.notice_html) %}
                {{ output.notice_html }}
            {% else %}
                Please choose one of the following options
            {% endif %}
        </span>

        <div id="sd-svcOptions">
            <span>
                <label>Support</label>
                <input type="radio" name="type" onclick="sdAjaxCall('form=SupportForm','sd-serviceForm');" {{ s_selected }}/>
            </span>
            <span>
                <label>Returns</label>
                <input type="radio" name="type" onclick="sdAjaxCall('form=ReturnForm','sd-serviceForm');" {{ r_selected }}/>
            </span>
            <span>
                <label>Feedback</label>
                <input type="radio" name="type" onclick="sdAjaxCall('form=FeedbackForm','sd-serviceForm');" {{ f_selected }}/>
            </span>
        </div>
        <div id="sd-serviceForm">
            {% include formtype with {'data': data}  %}
        </div>
    </form>
</div>
