{# suredone default aggregate galleries template #}
{# legacy feature for independent media galleries #}
{% include 'html-header.htm' %}
{% include 'header.htm' %}
<div class="container">
    <div class="row">
        <div class="col-md-3 category-hidden padding-right-o"></div>
        <div class="col-md-9">
            <div id="sd-site-body">
                <div id="sd-content">
                    {{ sd_content('content') }}
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.htm' %}