{# suredone default terms of service/privacy policy template #}
{% set dateupdated = sd_option('site_legal_last_updated') %}
{% include 'html-header.htm' %}
{% include 'header.htm' %}
<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-3 padding-o padding-sm">
            <div id="tos">
                <h3> {{ sd_title() }}</h3>
            {% if sd_lastupdated(dateupdated) %}
                <p id="last-updated"><b>Last Updated: {{ sd_datetext(sd_localtime(dateupdated)) }}</b></p>
            {% endif %}
                {{ sd_content('terms_policy_default') }}
            </div>
        </div>
    </div>
</div>
{% include 'footer.htm' %}
