{# suredone default page template #}
{% set datevalue = sd_date(false) %}
{% include 'html-header.htm' %}
{% include 'header.htm' %}
    <div class="container">
        <div class="row">
            <div class="col-md-3 category-hidden padding-right-o"></div>
            <div class="col-md-9 page-{{ sd_identifier() }} sd-pages sd-pages-{{ sd_name() }}">
                <h1 class="sd-title">{{ sd_content('title_link') }}</h1>
                {% if sd_pagefeature() %}
                <p id="sd-page-date"><span class="published" title="{{ sd_date() }}">{{ sd_datetext(datevalue) }}</span></p>
                {% endif %}
                <div id="sd-media">
                    {{ sd_content('media_main') }}
                    {{ sd_content('media_thumbs') }}
                </div>
                {{ sd_content('long_description') }}
                {{ sd_content('content') }}
                {% if data.name == 'blog' %}
                <div id="sd-social-share">
                    {{ sd_content('twitter_button') }}
                    {{ sd_content('pinterest_button') }}
                    {{ sd_content('facebook_button') }}
                </div>
                {% endif %}
                <div>
                    <p id="sd-releaseItemsNav">
                        {% if output.prev_url != output.next_url %}
                        <a href="{{ sd_prev_url() }}">{{ sd_option('site_nav_icon_prev')|e }} {{ sd_prev_title() }}</a> | <a href="{{ sd_next_url() }}"> {{ sd_next_title() }} {{ sd_option('site_nav_icon_next')|e }}</a>
                        {% elseif output.prev_url == output.next_url %}
                        <a href="{{ sd_prev_url() }}">{{ sd_option('site_nav_icon_prev')|e }} {{ sd_prev_title() }} {{ sd_option('site_nav_icon_next')|e }}</a>
                        {% endif %}
                    </p>
                </div>
                {% set disqususer = sd_option('comments_disqus') %}
                {% if disqususer and sd_pagefeature('comments_disqus') %}
                <div id="disqus_thread"></div>
                <script type="text/javascript">
                var disqus_shortname = '{{ disqususer }}';
                var disqus_identifier = '{{ sd_identifier() }}';
                var disqus_url = '{{ sd_canonical() }}';
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                {% endif %}
                {% include 'widgets.htm' %}
            </div>
        </div>
    </div>
{% include 'footer.htm' %}
