{# suredone default account/login template #}
{% set doaction = output.doaction %}
{% include 'html-header.htm' %}
{% include 'header.htm' %}
<div class="ma-main-container col1-layout">
    <div class="main">
        <div class="col-main">
            <div class="account-login">

{# create or edit account #}
{% if doaction == 'create-account' or (doaction == 'edit-account' and sd_is_logged_in) %}
    {% include 'accounts-edit-create.htm' %}

{# signed-in #}
{% elseif doaction == 'sign-in' and sd_is_logged_in %}
   {% include 'accounts-sign-in.htm' %}

{# account created #}
{% elseif doaction == 'account-created' %}
   {% include 'accounts-created.htm' %}

{# verify email #}
{% elseif doaction == 'verify' %}
   {% include 'accounts-verify.htm' %}

{# forgot password #}
{% elseif doaction == 'forgot-password' %}
    {% include 'accounts-recover.htm' %}

{# delete account #}
{% elseif doaction == 'delete-account' and sd_is_logged_in %}
    {% include 'accounts-delete.htm' %}

{# account login #}
{% else %}
   {% include 'accounts-login.htm' %}
{% endif %}
            </div>
        </div>
    </div>
</div>
{% include 'footer.htm' %}