{# suredone default footer #}
{% if output.doaction not in ['checkout', 'paypal-checkout', 'checkout-customer', 'checkout-payment'] %}
					<div class="ma-footer-static-container">
						{% set sdfootercustom = sd_option('site_custom_footer') %}
						{% if sdfootercustom %}
						<div class="footer-information">
							<div class="row">
							{{ sd_swaptags('add', sdfootercustom) }}
							</div>
						</div>
						{% else %}
                        <div class="ma-footer-static">
                            <div class="row-fluid">
                                <div class="footer-block latest-new span3">
                                    <div class="title">
                                        <h2>Latest News</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="#">Careers</a></li>
                                            <li><a href="/pages/about-us">About us</a></li>
                                            <li><a href="#">Store Locations</a></li>
                                            <li><a href="#">Online Store</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="footer-block shipping span3">
                                    <div class="title">
                                        <h2>Shipping Info</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="#">Returns</a></li>
                                            <li><a href="#">Customer Serivce</a></li>
                                            <li><a href="#">Gift Cards</a></li>
                                            <li><a href="#">Extended Service Plan</a></li>
                                            <li><a href="#">Orders &amp; Returns</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="footer-block support-center span3">
                                    <div class="title">
                                        <h2>Support Center</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            <li><a href="/sitemap">Site Map</a></li>
                                            <li><a href="/terms">Search Terms</a></li>
                                            <li><a href="#">Advanced Search</a></li>
                                            <li><a href="/contact">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
								
								<div class="footer-block paypal span3">
									<div class="title">
										<h2>we accept</h2>
									</div>
									<div class="content">
										<ul>
											<li><a href="#"><img src="//s3.amazonaws.com/assets.suredone.com/2439/images/paypal.png" alt="" /></a></li>
											<li><a href="#"><img src="//s3.amazonaws.com/assets.suredone.com/2439/images/visa-master.png" alt="" /></a></li>
											<li><a href="#"><img src="//s3.amazonaws.com/assets.suredone.com/2439/images/master-cart.png" alt="" /></a></li>
											<li><a href="#"><img src="//s3.amazonaws.com/assets.suredone.com/2439/images/amex.png" alt="" /></a></li>
											<li><a href="#"><img src="//s3.amazonaws.com/assets.suredone.com/2439/images/visa.png" alt="" /></a></li>
										</ul>
									</div>
									<div class="block block-subscribe">
										<div class="block-title">
											<strong><span>Newsletter</span></strong>
										</div>
										<div id="newsletter-validate-detail" class="block-subscribe">
											{% set emaillist = output.emaillist_html|replace({'src="http://assets.suredone.com/base/icon/go.gif"':''}) %}
											{% set emaillist = emaillist|replace({'type="image"':'type="submit" title="Subscribe" class="button"'}) %}
											{% set emaillist = emaillist|replace({'title="Subscribe"':'value="Subscribe"'}) %}
											{{ emaillist }}
										</div>
									</div>
								</div>
								<div class="copy-logo">
                                    <address>&copy; {{ gmdate('Y') }} {{ sd_siteinfo('version_logo_powered_link') }}</address>
                                </div>
								<div id="ajaxconfig_info" style="display:none">
                                    <button name="black" value="0.7"></button>
                                    <input type="hidden" value=""/>
                                    <input type="hidden" id="enable_module" value="1"/>
                                    <input class="effect_to_cart" type="hidden" value="1"/>
                                    <input class="title_shopping_cart" type="hidden" value="Go to shopping cart"/>
                                    <input class="title_shopping_continue" type="hidden" value="Continue Shopping"/>
                                    <input class="title_shopping_wishlist" type="hidden" value="Go to wishlist"/>
                                    <input class="title_shopping_compare" type="hidden" value="Go to list Compare"/>
                                    <input class="confirm_delete_product" type="hidden"
                                           value="Are you sure you would like to remove this item ?"/>
                                    <input class="title_add_to_cart" type="hidden" value="Add product to  Cart sucessfully"/>
                                    <input class="title_add_to_wishlist" type="hidden"
                                           value="Add product to Wishlist sucessfully"/>
                                    <input class="title_add_to_compare" type="hidden"
                                           value="Add product to Compare sucessfully"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/assets.suredone.com/2439/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="//s3.amazonaws.com/assets.suredone.com/2439/scripts/bootstrap-tooltip.js"></script>

<script style="text/javascript">sdAjaxCartUpdate();</script>
</body>
</html>
{% endif %}
{% endif %}