<div id="sd-cart-contents">
{% if data['message'] %}
	{{ data['message'] }}
{% endif %}
{% if (data['index'] > 0) %}
<table id="shopping-cart-table" class="data-table cart-table">
	<col width="1"/>
	<col/>
	<col width="1"/>
	<col width="1"/>
	<col width="1"/>
	<col width="1"/>
	<col width="1"/>
	<thead>
		<tr>
			<th rowspan="1" class="hidden-phone">&nbsp;</th>
			<th rowspan="1"><span class="nobr">Product Name</span></th>
			<th class="hidden-phone" rowspan="1"></th>
			<th class="a-center" colspan="1"><span class="nobr">Unit Price</span></th>
			<th rowspan="1" class="a-center">Qty</th>
			<th class="a-center" colspan="1">Subtotal</th>
			<th rowspan="1" class="a-center">&nbsp;</th>
		</tr>
	</thead>
	{% set rmv_item_button = sd_securemedia(output.icons['remove_item']) %}
	{% set itemtotal = 0 %}
	
	{% for i in range(low=1, high=data['index'], step=1) %}
	
		{% if (data[i]['qty'] == 0) %}
			{# continue #}
		{% else %}

			{% if data[i]['guid'] %}
				{%  set sku = data[i]['guid'] %}
			{% else %}
				{%  set sku = data[i]['sku'] %}
			{% endif %}

			{% if data[i]['secure_media'] %}
				{% set media = data[i]['secure_media'] %}
			{%  else %}
				{%  set media = data[i]['media'] %}
			{% endif %}

			{% set totalprice = (data[i]['qty'] * data[i]['sdprice']) %}
			<tr>
				<td class="hidden-phone">
					{% if data[i]['galleryuri'] %}
						<a href="{{ sd_seturl(data[i]['galleryuri'], 'gallery', 'absolute') }}" title="{{ sku }} Gallery" class="product-image"><img src="{{ media }}" width="75" height="75" alt="{{ data[i]['title'] }}"/></a>
					{% else %}
						<img alt="{{ data[i]['title'] }}" src="{{ media }}" />
					{% endif %}
				</td>
				<td>
					<h2 class="product-name">
						<a href="{{ sd_seturl(data[i]['uri'], 'item') }}">{{ data[i]['title'] }}</a>
					</h2>
				</td>
				<td class="a-center hidden-phone">
					<a href="{{ output.cart_uri }}?do=update&item={{ i }}&qty={{ data[i]['qty'] }}" onclick="return sdAjaxCart('do=update&item={{ i }}&qty=' + $('#sd-cartQty{{ i }}').val())">Edit</a>
				</td>
				<td class="a-right">
					{% if (data[i]['sdprice'] != data[i]['price']) %}
					<span class="cart-price">
						<span class="sd-cartPriceRegular">{{ sd_currency(false) ~ data[i]['price']|number_format(2) }}</span>
						<span>{{ sd_currency(false) ~ data[i]['sdprice']|number_format(2) }}</span>
					</span>
					{% else %}
					<span class="cart-price"><span class="price">{{ sd_currency(false) ~ data[i]['sdprice']|number_format(2) }}</span></span>
					{% endif %}
				</td>
				<td class="a-center">
					<input id="sd-cartQty{{ i }}" name="cart[4684][qty]" value="{{ data[i]['qty'] }}" size="4" title="Qty" class="input-text qty" maxlength="12"/>
				</td>
				<td class="a-right">
					<span class="cart-price">
						<span class="price">{{ sd_currency(false) ~ totalprice|number_format(2) }}</span>                            
					</span>
				</td>
				<td class="a-center">
					<a class="btn-remove btn-remove2" href="{{ output.cart_uri }}?do=remove&item={{ i }}" onclick="return sdAjaxCart('do=remove&item={{ i }}')">Remove item</a>
				</td>
			</tr>
			{% set itemtotal = itemtotal + totalprice %}
		{% endif %}
	{% endfor %}
</table>
<div class="cart-collaterals row-fluid">
    <div class="totals span4 right" style="width: 272px;">
        <table id="shopping-cart-totals-table">
			<thead>
				<col/>
				<col width="1"/>
			</thead>
			<tr>
				<td style="" class="a-right" colspan="1">
					{{ sd_carttotalslabel('subtotal') }}
				</td>
				<td style="" class="a-right">
					<span class="price">{{ sd_currency(false) ~ itemtotal|number_format(2) }}</span>
				</td>
			</tr>
        </table>
    </div>
</div>
	{% else %}
	<div id="sd-cartNotice">{{ sd_option('site_cart_empty_text') }}</div>
{% endif %}

{% if sd_notice(false) %}
	<div id="sd-cartNotice">{{ sd_notice(false) }}</div>
{% endif %}
</div>