{# suredone default home page template #}
{% set customhome = sd_option('site_custom_home') %}
{% include 'html-header.htm' with {'classpage': 'cms-index-index cms-home'} %}
{% include 'header.htm' %}
<div class="ma-main-container col3-layout">
	<div class="main">
		<div class="row-fluid">
{% include 'sidebar.htm' %}
    {% if customhome %}
        {{ sd_swaphome(customhome) }}
    {% else %}
			<div class="col-wrapper span9">
				<div class="ma-banner7-container">
					<div class="flexslider ma-nivoslider">
						<div class="ma-loading"></div>
						<div id="ma-inivoslider" class="slides">


							<img style="display: none;"
								 src="//s3.amazonaws.com/assets.suredone.com/2439/images/slide-1.png"
								 title="#banner7-caption1" alt=""/>


							<img style="display: none;"
								 src="//s3.amazonaws.com/assets.suredone.com/2439/images/slide-2.png"
								 title="#banner7-caption2" alt=""/>


							<img style="display: none;"
								 src="//s3.amazonaws.com/assets.suredone.com/2439/images/slide-3.png"
								 title="#banner7-caption3" alt=""/>


							<img style="display: none;"
								 src="//s3.amazonaws.com/assets.suredone.com/2439/images/slide-4.png"
								 title="#banner7-caption4" alt=""/>

						</div>
						<script type="text/javascript">
							$(window).load(function () {
								$('#ma-inivoslider').nivoSlider({
									effect: 'random',
									slices: 15,
									boxCols: 8,
									boxRows: 4,
									animSpeed: 600,
									pauseTime: 2000,
									startSlide: 0,
									controlNav: false,
									controlNavThumbs: false,
									pauseOnHover: true,
									manualAdvance: false,
									prevText: 'Prev',
									nextText: 'Next',
									afterLoad: function () {
										$('.ma-loading').css("display", "none");
										//$jq('.banner7-title, .banner7-des, .banner7-readmore').css("left","100px") ;
									},
									beforeChange: function () {
										$('.banner7-title, .banner7-des').css("left", "-550px");
										$('.banner7-readmore').css("left", "-1500px");
									},
									afterChange: function () {
										$('.banner7-title, .banner7-des, .banner7-readmore').css("left", "100px")
									}
								});
							});
						</script>
					</div>
				</div>
				<!-- end enable -->
				<div class="row-fluid">
					<div class="col-main">
						<div class="std">
							{% set featured = sd_getresults('featured:=1') %}
							{% if featured %}
							<div class="ma-featuredproductslider-container">
								<div class="ma-featured-sldier-title"><h2>Featured Products</h2>
								</div>
								<div class="flexslider carousel">
									<ul class="slides">
								{% for key, row in featured %}
									{% if (key == 'all' or key == 'time') %}
									{# continue #}
									{% else %}
										{% spaceless %}
										{% if row['guid'] %}
											{% set sku = row['guid'] %}
										{% else %}
											{% set sku = row['sku'] %}
										{% endif %}
				
										{% set media = sd_parsemedia(row['media']) %}
				
										{% if (is_image(media[0])) %}
											{% set image_url = sd_securemedia(media[0]) %}
				
											{% if media[1] %}
												{% set alt_text = media[1]|escape %}
											{% else %}
												{% set alt_text = row['title']|escape %}
											{% endif %}
				
											{% if (sd_option('image_thumb_titles') == 'on') %}
												{#
												{% set alt_text = alt_text ~ '" title="' ~ alt_text %}
												#}
											{% endif %}
										{% else %}
											{% set image_url = output.icons['no_thumb'] %}
											{% set alt_text = '' %}
										{% endif %}
				
										{% set discountpricecss = row['discountprice'] > 0 ? ' td-discount-price' : '' %}
				
										{% endspaceless %}
										<li class="featuredproductslider-item">
											<div class="feadture-inner">
												<a href="{{ sd_seturl(row['uri'], 'item') }}" title="{{ alt_text }}" class="product-image"><img src="{{ image_url }}" alt="{{ alt_text }}"/></a>
												<h2 class="product-name"><a href="{{ sd_seturl(row['uri'], 'item') }}" title="{{ alt_text }}">{{ row['title'] }}</a></h2>
												<div class="price-box">
													<span class="regular-price" id="product-price-10">
													<span class="price">{{ sd_price(false, true, true, row) }}</span>
													</span>
												</div>
												<div class="actions">
													<a href="{{ sd_seturl(row['uri'], 'item') }}" title="{{ alt_text }}" class="product-image view-details">
														<span><span>View Details</span></span>
													</a>
												</div>
											</div>
										</li>
									{% endif %}
								{% endfor %}
									</ul>
									<!--<script type="text/javascript" src="../ma_carstore/js/magentothem/ma.flexslider.js"></script>-->
									<script type="text/javascript">
										$('.ma-featuredproductslider-container .flexslider').flexslider({
											slideshow: false,
											itemWidth: 187,
											itemMargin: 0,
											minItems: 1,
											maxItems: 100,
											slideshowSpeed: 3000,
											animationSpeed: 600,
											controlNav: false,
											animation: "slide"
										});
									</script>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
					{% include 'sidebar-right.htm' %}
				</div>
			</div>
    {% endif %}
		</div>
	</div>
</div>
{% include 'footer.htm' %}