{# suredone default search template #}
{% include 'html-header.htm' with {'classpage': 'catalogsearch-result-index'} %}
{% include 'header.htm' %}
<div class="ma-main-container col3-layout">
	<div class="main">
		<div class="row-fluid">
			{% include 'sidebar.htm' %}
			<div class="col-wrapper span9">
				<div class="row-fluid">
					<div class="col-main">
						<div class="page-title category-title">
							<h1>{{ sd_title() }}</h1>
						</div>
						<div id="sd-search">
						<div id="sd-content" class="category-products">
							{% set searchtype = get_type()=='pages' and get_reqs('name') ? 'newest_blogs' : 'results' %}
							{% if searchtype == 'results' %}
								{% include 'results.htm' %}
							{% else %}
								{{ sd_content(searchtype) }}
							{% endif %}
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
    #sd-search #sd-content #search-form { display: none; }
</style>
{% include 'footer.htm' %}